.heading{
    text-align: center;
}



nav{
    width: 100%;
    height: 45px;
    background-color: rgb(10, 102, 133);
    top: 0;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    color: white;
}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
}
