.post-container {
    background: coral;
    display: flex;
    flex-direction: row;
    padding: 3%;
    margin: 0 2%;
    width: 80%;
}
.heading {
    height: 126px;
    text-align: center;
    display: flex;
    align-items: center;
}
.image {
    width: 100%;
    height: 210px;
}
